.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.center-stage{
    margin: 2vh;
    margin-top: 7vh;
}

.monitor-container{
    height: 60vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
}

#liveInformation{
    background-color: #eee;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#liveCharts {

    background-color: #eee;
    height: 100%;
    width: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#liveAccelChart, #liveGyroChart {
    flex-grow: 1;
    width: 100%;
    height: 0;
}

#liveInformation{
    display: flex;
    flex-direction: row;
}
#predict {
    margin-left: 10vh;
    margin-right: 10vh;
    display: flex;
    flex-direction: column;
    height: 95%; 
    padding: 10px;
}

.warning {
    margin-left: 10px;
    width: 9vh;
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    border-radius: 2px;
    border: 3px solid rgb(104, 104, 104); 
    background-color: #eee;
}

#personalInformation {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px; 
    align-items: center; 
    height: 95%; 
}

.info-section {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    width: 95%; 
}

.info-label {
    font-size: 16px;
    padding: 5px;
}